* {
  margin: 0;
  padding: 0;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

body{
  overflow: hidden;
}

header{
  position: fixed; 
  background: none;
  width: 100%;
}

header h1{
  line-height: 100px;
  margin-right: 50px;
  float: right;
}

#popup{
  /* display: none; */
  position: absolute;
  background-color: white;
  width: 400px;
  height: 90vh;
  color: black;
  left: 0px;
  margin: auto;
  border-radius: 0px 10px 10px 0px;
  padding: 5vh 80px;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.3);
  overflow: scroll;
}

#popup.visible{
  animation: appear .5s forwards ease-out;
  display: block;
}

#popup.invisible{
  animation: disappear .5s forwards ease-out;
}

@keyframes appear{
  0%{
    opacity: 0;
    transform: translateX(-100px);
  }
  100%{
    opacity: .9;
    transform: translateX(0);
  }
}

@keyframes disappear{
  0%{
    opacity: .9;
    transform: translateX(0);
  }
  100%{
    opacity: 0;
    transform: translateX(-100px);
  }
}

#cross {
  display: flex;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 40px;
  right: 40px;
  cursor: pointer;
}
 
#cross::before, #cross::after { 
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px; 
  height: 30px; 
  background: #333;
}
 
#cross::before {
  transform: translate(-50%,-50%) rotate(45deg);
}
 
#cross::after {
  transform: translate(-50%,-50%) rotate(-45deg);
}

#name{
  font-size: 36px;
  margin-bottom: 25px;
}

p,a{
  font-size: 20px;
  line-height: 2;
  margin-bottom: 20px;
}