* {
  margin: 0;
  padding: 0;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

header{
  width: 100%;
  height: 100px;
  background-color: rgba(250, 250, 250, 0.8);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  position: fixed;
}

header h1{
  line-height: 100px;
  margin-left: 30px;
}

#popup{
  display: none;
  position: absolute;
  background-color: white;
  width: 600px;
  height: 400px;
  color: black;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-radius: 40px;
  padding: 100px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  animation: appear .5s forwards ease-out;
  overflow: scroll;
}

@keyframes appear{
  0%{
    opacity: 0;
    transform: translateY(-100px);
  }
  100%{
    opacity: .9;
    transform: translateY(0);
  }
}

#cross {
  display: flex;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50px;
  right: 50px;
  cursor: pointer;
}
 
#cross::before, #cross::after { 
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px; 
  height: 30px; 
  background: #333;
}
 
#cross::before {
  transform: translate(-50%,-50%) rotate(45deg);
}
 
#cross::after {
  transform: translate(-50%,-50%) rotate(-45deg);
}

#name{
  font-size: 36px;
  margin-bottom: 25px;
}

p,a{
  font-size: 20px;
  line-height: 2;
  margin-bottom: 5px;
}